extends layout

block body

  div#content
    p.pageTitle got questions?
    
    div#contactLeft 
      p If you have any questions about lessons or anything else, give me a email or find me on social media!
      br

      a(href='mailto:kiki_lee8752@hotmail.com')
        div#mailIcon
      a(href='http://www.facebook.com/monique.lee94')
        div#facebookIcon

    img#contactRight.imageBorder(src="/images/contact1.jpg")



//   script.
//     var sourceSwap = function() {
//       var $this = $(this);
//       var newSource = $this.data('alt-src');
//       $this.data('alt-src', $this.attr('src'));
//       $this.attr('src', newSource);
//     }

//     $(function () {
//       $('img.contactIcons').hover(sourceSwap, sourceSwap);
//     });
