extends layout

block body
  div#content
    div#splash
      div#homeImage1
      p #{__('home.splash')}
 
    script.
      $(document).ready(function()
      {
        $('#splash').hide().fadeIn(1500);
      });