extends layout

block body
  div#content
    div#splash
      img#homeImage1(src="/images/splash.jpg")
      p #{__('home.splash')}

    script.
      $(document).ready(function()
      {
        $('#splash').hide().fadeIn(1500);
      });