extends layout

block body

  div#content
    p.pageTitle recordings for fun

    div#recordingDescription
      p Have a listen of some of my favourite pieces that I've recorded during my spare time.

    div.imageBorder.recordingImage
      a(href='recordings/compositions')
        div#recording1Image
          div.recordingText
            div.recordingTitle compositions
            div.recordingDescription my own original attempts at composing!

    div.imageBorder.recordingImage
      a(href='recordings/exams')
        div#recording2Image
          div.recordingText
            div.recordingTitle examination pieces
            div.recordingDescription some of my favourite pieces from past abrsm exams, as well as pieces from more recent years!

    div.imageBorder.recordingImage
      a(href='recordings/popular')
        div#recording3Image
          div.recordingText
            div.recordingTitle popular music
            div.recordingDescription pieces ranging from anything you might hear on the radio or tv, such as anime, dramas and pop!

    div.imageBorder.recordingImage
      a(href='recordings/classical')
        div#recording4Image
          div.recordingText
            div.recordingTitle classical
            div.recordingDescription pieces from the renaissance, baroque, classical, romantic and 20th century

    //center#recordingCatTitle choose a 

    //div#recordingCats
      //div.recordingImgDiv1
        //a(href='/recordings/exams')
          //img.recordingImg(src="/images/recording1.png")
        //a(href='/recordings/exams')
          //p examination pieces
     
//    script.
//      $('.recordingImg').hover(
//      function() { $(this).addClass('hover') }, 
//      function() { $(this).removeClass('hover') }
//      );