extends ../layout

block body

  div#content
    p.pageTitle compositions

    div.recording-container
      video.video-js.vjs-default-skin(controls preload='auto', data-setup='{"techOrder": ["youtube"], "src": "http://youtube.com/watch?v=TG8IkUoZ6j0" }')
